body {
  background-color: #E44236;
  color: #ccc;
}
#timer {
  font-size: 200px;
  line-height: 1;
  margin-bottom: 40px;
}
#app{
  text-align: center;
}
.controls{
  font-size: 100px;
  margin:40px 0;
}
